.product-cart {
    position: relative;
    width: 300px;
    height: 510px;
    border-radius: 8px;
    border: 1px solid red;
}

.product-cart img {
    
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
.product-info {
    padding-left: 10px;
}
.product-sub-details p{
    margin-bottom: 0;
    margin-top: 7px;
}
.cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFE0B3;
    border: none;
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    transition: 0.7s;
    cursor: pointer;
}
.cart-button:hover{
    background-color: #995c00;
    color: #fff;
}
.cart-button p {
    padding: 0 10px;
}